<!doctype html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>MB Optics Safety - Safety Eyewear Provider</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/img/icon.png">

  <!-- Plugins -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/plugins.css">

  <!-- Style Css -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- Custom Styles -->
  <link rel="stylesheet" href="/css/custom.css">
  <!-- Js Files -->
  <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="/js/vendor/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/sha.js"></script>
  <script type="text/javascript" src="/js/phx_app.js"></script>
  <script src="/js/base.js"></script>
  <script src="/js/route.js"></script>

  <script>


  </script>

</head>

<body>
  <!-- Wrapper -->
  <div id="wrapper" class="wrapper">
    <%- content %>
      <% if (useEjs) { %>
        <%- include('pages/' + page, { data: data }) %>
          <% }%>

  </div>
  <div class="wrapper">
    <!-- Start Footer Area -->
    <footer class="footer_area">
      <div class="footer_top bg-cat--1">
        <div class="container">
          <div class="row">
            <% if (data.sections.filter((s,i)=> {return s.name == 'Bottom Footer'}).length == 0) { %>


              <!-- Start Single Footer -->
              <div class="col-lg-3 col-sm-6 col-12 mb--50">
                <div class="footer_widget">
                  <h2 class="ft_widget_title">Los Angeles</h2>
                  <div class="textwidget">
                    <p>254 Roselen de Square
                      <br>Century Street, Haven Tower
                      <br>Los Angeles, USA
                    </p>
                    <p>01254 658 987, 02365 987 456</p>
                    <p>info@example.com
                      <br>www.example.com
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Single Footer -->
              <!-- Start Single Footer -->
              <div class="col-lg-3 col-sm-6 col-12 mb--50">
                <div class="footer_widget">
                  <h2 class="ft_widget_title">Manchester</h2>
                  <div class="textwidget">
                    <p>254 Roselen de Square
                      <br>Century Street, Haven Tower
                      <br>Los Angeles, USA
                    </p>
                    <p>01254 658 987, 02365 987 456</p>
                    <p>info@example.com
                      <br>www.example.com
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Single Footer -->
              <!-- Start Single Footer -->
              <div class="col-lg-3 col-sm-6 col-12 mb--50">
                <div class="footer_widget">
                  <h2 class="ft_widget_title">Abu Dhabi</h2>
                  <div class="textwidget">
                    <p>Oxeler Bin Square
                      <br>Seleya Street, Silicon Tower
                      <br>Abu Dhabi, UAE
                    </p>
                    <p>09365 856 658, 09683 2656 889</p>
                    <p>info@example.com
                      <br>www.example.com
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Single Footer -->
              <!-- Start Single Footer -->
              <div class="col-lg-3 col-sm-6 col-12 mb--50">
                <div class="footer_widget">
                  <h2 class="ft_widget_title">Newsletter</h2>
                  <div class="textwidget">
                    <div class="input_box">
                      <input type="email" placeholder="Enter your email here">
                      <button>Subscribe</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Single Footer -->
              <% } else { %>

                <% bottom_footer=data.sections.filter((s,i)=> {return s.name == 'Bottom Footer'})[0] %>

                  <% if (bottom_footer.content1 !=null ) { %>
                    <div class="<%- bottom_footer.content1_class_list %>"">
                                <%- bottom_footer.content1 %>
                            </div>
                            <% }%>
                            <% if (bottom_footer.content2 != null ) { %>
                              <div class=" <%- bottom_footer.content2_class_list %>"">
                      <%- bottom_footer.content2 %>
                    </div>
                    <% }%>
                      <% if (bottom_footer.content3 !=null ) { %>
                        <div class="<%- bottom_footer.content3_class_list %>"">
                                    <%- bottom_footer.content3 %>
                                </div>
                                <% }%>
                                <% if (bottom_footer.content4 != null ) { %>
                                  <div class=" <%- bottom_footer.content4_class_list %>"">
                          <%- bottom_footer.content4 %>
                        </div>
                        <% }%>

                          <% }%>

          </div>
        </div>
      </div>
      <div class="copyright bg-cat--2">
        <div class="container">
          <div class="row align-items-center">
            <% if (data.sections.filter((s,i)=> {return s.name == 'Bottom Nav'}).length == 0) { %>
              <div class="col-lg-6">
                <div class="copy_text">
                  <p>
                    &copy; MB Optics Safety,
                    <script>document.write(new Date().getFullYear())</script>

                  </p>
                </div>
              </div>
              <div class="col-lg-6">
                <ul class="footer_menu d-flex justify-content-end">
                  <li>
                    <a href="#">Product Tracking</a>
                  </li>
                  <li>
                    <a href="#">Terms & Conditions</a>
                  </li>
                  <li>
                    <a href="#">Contact</a>
                  </li>
                </ul>
              </div>
              <% } else { %>

                <% bottom_nav=data.sections.filter((s,i)=> {return s.name == 'Bottom Nav'})[0] %>

                  <% if (bottom_nav.content1 !=null ) { %>
                    <div class="<%- bottom_nav.content1_class_list %>"">
                                <%- bottom_nav.content1 %>
                            </div>
                            <% }%>
                            <% if (bottom_nav.content2 != null ) { %>
                              <div class=" <%- bottom_nav.content2_class_list %>"">
                      <%- bottom_nav.content2 %>
                    </div>
                    <% }%>
                      <% if (bottom_nav.content3 !=null ) { %>
                        <div class="<%- bottom_nav.content3_class_list %>"">
                                    <%- bottom_nav.content3 %>
                                </div>
                                <% }%>
                                <% if (bottom_nav.content4 != null ) { %>
                                  <div class=" <%- bottom_nav.content4_class_list %>"">
                          <%- bottom_nav.content4 %>
                        </div>
                        <% }%>
                          <% } %>

          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer Area -->


  </div>
  <!--// Wrapper -->
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>
  <script>
      (function () {

      })();
  </script>

</body>

</html>