<!-- Start Bradcaump area -->
<div class="bradcaump_area " style="
    height: 24vh;
    background-color: #00000030;
    background-image: url('<%= data.blogUrl %>/<%= product.img_url%>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump_inner text-center">
                    <h2 class="bradcaump-title">
                        <%= product.name %>
                    </h2>
                    <nav class="bradcaump-content">
                        <a class="breadcrumb_item navi" href="/home">Home</a>
                        <span class="brd-separetor">/</span>
                        <span class="breadcrumb_item active">Single Product</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->

<!-- Start Single Product -->
<div class="gm_single_product pt--100 pb--100 bg--white">
    <div class="container">
        <div class="row align-content-center">
            <div class="col-lg-6 col-12">
                <div class="product__details__container">
                    <div class="tab_container big_img_container m-4 p-4">
                        <div class="big_img tab-pane fade show active" id="img1" role="tabpanel">
                            <img src="<%= data.blogUrl %>/<%= product.img_url%>" alt="<%= product.name%>">
                        </div>

                        <div class="big_img tab-pane fade" id="img2" role="tabpanel">
                            <img src="<%= data.blogUrl %>/<%= product.img_url2%>" alt="<%= product.name%>">
                        </div>
                        <div class="big_img tab-pane fade" id="img3" role="tabpanel">
                            <img src="<%= data.blogUrl %>/<%= product.img_url3%>" alt="<%= product.name%>">
                        </div>
                        <div class="big_img tab-pane fade" id="img4" role="tabpanel">
                            <img src="<%= data.blogUrl %>/<%= product.img_url4%>" alt="<%= product.name%>">
                        </div>
                        <div class="big_img tab-pane fade" id="img5" role="tabpanel">
                            <img src="<%= data.blogUrl %>/<%= product.img_url5%>" alt="<%= product.name%>">
                        </div>
                    </div>
                    <div class="sm_roduct_nav nav nav-tabs" role="tablist">
                        <a class="active" id="/img1-tab" data-bs-toggle="tab" href="#img1" role="tab"
                            aria-controls="/img1" aria-selected="true">
                            <img src="<%= data.blogUrl %>/<%= product.img_url%>" alt="<%= product.name%>">
                        </a>
                        <% if (product.img_url2 != null) { %>
                        <a id="nav-img2-tab" data-bs-toggle="tab" href="#img2" role="tab" aria-controls="/img2"
                            aria-selected="false">
                            <img src="<%= data.blogUrl %>/<%= product.img_url2%>" alt="<%= product.name%>">
                        </a>
                        <% } %>
                        <% if (product.img_url3 != null) { %>
                        <a id="nav-img3-tab" data-bs-toggle="tab" href="#img3" role="tab" aria-controls="/img3"
                            aria-selected="false">
                            <img src="<%= data.blogUrl %>/<%= product.img_url3%>" alt="<%= product.name%>">
                        </a>
                        <% } %>
                        <% if (product.img_url4 != null) { %>
                        <a id="nav-img4-tab" data-bs-toggle="tab" href="#img4" role="tab" aria-controls="/img4"
                            aria-selected="false">
                            <img src="<%= data.blogUrl %>/<%= product.img_url4%>" alt="<%= product.name%>">
                        </a>
                        <% } %>
                        <% if (product.img_url5 != null) { %>
                        <a id="nav-img5-tab" data-bs-toggle="tab" href="#img5" role="tab" aria-controls="/img5"
                            aria-selected="false">
                            <img src="<%= data.blogUrl %>/<%= product.img_url5%>" alt="<%= product.name%>">
                        </a>
                        <% } %>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="single_product_inner">
                    <h4><%= product.name %></h4>

                  

                    <div class="pro_dtl">
                        <p>Products available in store.
                          
                        </p>
                        <%= product.short_desc%>
                    </div>

                
                </div>
            </div>
        </div>
    </div>
    <div class="product_review">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="description_nav nav nav-tabs d-block" role="tablist">
                        <a class="active" id="descrip-tab" data-bs-toggle="tab" href="#descrip" role="tab"
                            aria-controls="descrip" aria-selected="true">Product Description</a>
                        
                    </div>
                </div>
            </div>
            <div class="tab_container">
                <div class="single_review_content tab-pane fade show active" id="descrip" role="tabpanel">
                    <div class="content">
                        <%= product.desc%>
                    </div>
                </div>
                <div class="single_review_content tab-pane fade" id="review" role="tabpanel">
                    <div class="classs__review__inner">
                        <h4>Add A review</h4>
                        <p>Your E-mail Address Will not be published. Required field are marked *</p>
                        <span>Your rating</span>
                        <ul class="rating">
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <form action="#">
                            <div class="input__box">
                                <span>Your Review *</span>
                                <textarea name="message"></textarea>
                            </div>
                            <div class="input__box">
                                <span>Name*</span>
                                <input type="text">
                            </div>
                            <div class="input__box">
                                <span>E-mail*</span>
                                <input type="email">
                            </div>
                            <div class="submit__btn">
                                <a href="#">Submit Now</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="single_review_content tab-pane fade" id="product" role="tabpanel">
                    <div class="content">
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                            Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu
                            libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend
                            leo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Product -->